@import "~bootstrap/scss/functions";
@import "./helpers/_variables";
@import "~bootstrap/scss/bootstrap";

textarea{
    resize: none;
}

.btn-outline-primary{
    color: $primary;
}

.border_provide{
    border-color: $provide;
}
.border_seek{
    border-color: $seek;
}