@import "~bootstrap/scss/functions";
@import "./helpers/_variables";
@import "~bootstrap/scss/bootstrap";

textarea{
    resize: none;
}

.btn-outline-primary{
    color: $primary;
}
.btn_provide{
    color: #fff;
    background: $provide;
    &:hover{
        color: #fff;
        background-color: darken($provide, 30%);
    }
}
.btn_outline_provide{
    border-color: $provide;
    color: $provide;
    &:hover{
        color: #fff;
        background-color: $provide;
        border-color:darken( $provide, 30%);
    }
}
.btn_seek{
    color: #fff;
    background: $seek;
    &:hover{
        color: #fff;
        background-color: darken($seek, 30%);
    }
}
.btn_outline_seek{
    border-color: $seek;
    color: $seek;
    &:hover{
        color: #fff;
        background-color: $seek;
        border-color:darken( $seek, 30%);
    }
}
.border_provide{
    border-color: $provide;
}
.border_seek{
    border-color: $seek;
}

.card.provide{
    border-color: $provide;
}
.card.seek{
    border-color: $seek;
}

// yourfriend
.friendTab{
    margin-left: 15px;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        width: 5px;
        height: 100%;
        display: block;
        opacity: 0;
        background: $primary;
    }
}
.friendTab.active:before{
    opacity: 1;
}
// animation
@keyframes loadingRotate
{
    0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.loadingRotate{
    animation: loadingRotate 3s ease infinite;
}



